<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oymn.geoinvestigatefinal.dao.mapper.CropDao">
    <insert id="addCropType" useGeneratedKeys="true" keyProperty="id">
        insert into t_crop_type(name_chs, name_en, create_user, is_manager) values (#{nameChs}, #{nameEn}, #{createUser}, #{isManager})
    </insert>
    <insert id="addCropVariety">
        insert into t_crop_variety(type_id, name_chs, name_en, create_user, is_manager) values (#{typeId}, #{nameChs}, #{nameEn}, #{createUser}, #{isManager})
    </insert>
    <update id="updateCropType">
        update t_crop_type
        set name_chs = #{nameChs}, name_en = #{nameEn}
        where id = #{id};
    </update>
    <update id="updateCropVariety">
        update t_crop_variety 
        set name_chs = #{nameChs}, name_en = #{nameEn}
        where id = #{id}
    </update>
    <delete id="deleteCropType">
        delete from t_crop_type where id = #{id}
    </delete>
    <delete id="deleteCropVariety">
        delete from t_crop_variety where id = #{id}
    </delete>
    <delete id="deleteCropVarietyByTypeId">
        delete from t_crop_variety where type_id = #{typeId}
    </delete>

    <select id="getCropTypeByName" resultType="com.oymn.geoinvestigatefinal.dao.pojo.CropType">
        select id, name_chs, name_en, create_user, is_manager, create_time, update_time
        from t_crop_type
        where name_chs = #{nameChs}
    </select>
    <select id="getAllCropType" resultType="com.oymn.geoinvestigatefinal.dao.pojo.CropType">
        select id, name_chs, name_en, create_user, is_manager, create_time, update_time
        from t_crop_type
    </select>
    <select id="getCropTypeById" resultType="com.oymn.geoinvestigatefinal.dao.pojo.CropType">
        select id, name_chs, name_en, create_user, is_manager, create_time, update_time
        from t_crop_type
        where id = #{typeId}
    </select>
    <select id="getCropVariety" resultType="com.oymn.geoinvestigatefinal.dao.pojo.CropVariety">
        select id, type_id, name_chs, name_en, create_user, is_manager, create_time, update_time
        from t_crop_variety
        where type_id = #{typeId} and name_chs = #{cropVarietyName}
    </select>
    <select id="getAllCropVariety" resultType="com.oymn.geoinvestigatefinal.dao.pojo.CropVariety">
        select id, type_id, name_chs, name_en, create_user, is_manager, create_time, update_time
        from t_crop_variety
    </select>
</mapper>
