<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oymn.geoinvestigatefinal.dao.mapper.DiseaseDao">

    <insert id="addDiseaseType" useGeneratedKeys="true" keyProperty="id">
        insert into t_disease_type(name, create_user, is_manager) values (#{name}, #{createUser}, #{isManager})
    </insert>
    <update id="updateDiseaseType">
        update t_disease_type set name = #{name} where id = #{id}
    </update>
    <delete id="deleteDiseaseType">
        delete from t_disease_type where id = #{diseaseTypeId}
    </delete>
    <select id="getAllDiseaseType" resultType="com.oymn.geoinvestigatefinal.dao.pojo.DiseaseType">
        select id, name, create_time, update_time
        from t_disease_type
    </select>
    <select id="getDiseaseTypeByName" resultType="com.oymn.geoinvestigatefinal.dao.pojo.DiseaseType">
        select id, name, create_time, update_time
        from t_disease_type
        where name = #{name}
    </select>
</mapper>
