<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oymn.geoinvestigatefinal.dao.mapper.LandDao">
    <!--<insert id="addSubLandType">
        insert into t_land_type(name_chs, name_en, parent_id, create_time, update_time) 
        values(#{param2.nameChs}, #{param2.nameEn}, #{param1}, #{param2.createTime}, #{param2.updateTime})
    </insert>-->
    <insert id="addLandType" useGeneratedKeys="true" keyProperty="id">
        insert into t_land_type(name_chs, name_en, parent_id, create_time, update_time)
        values(#{nameChs}, #{nameEn}, #{parentId}, #{createTime}, #{updateTime})
    </insert>
    <insert id="addLandAttr" useGeneratedKeys="true" keyProperty="id">
        insert into t_land_attribute(land_type_id, name_chs, name_en, unit, required, create_time, update_time)
        values(#{landTypeId}, #{nameChs}, #{nameEn}, #{unit}, #{required}, #{createTime}, #{updateTime})
    </insert>

    <insert id="addLandAttrValues">
        insert into t_land_attribute_value(land_attr_id, value_chs, value_en, create_time, update_time)
        values 
        <foreach collection="attributeValues" item="attrValue" separator=",">
            (#{attrValue.landAttributeId}, #{attrValue.valueChs}, #{attrValue.valueEn}, NOW(), NOW())
        </foreach>
    </insert>
    <update id="updateLandType">
        update t_land_type
        <set>
            <if test="nameChs != null and nameChs != ''">
                name_chs = #{nameChs},
            </if>
            <if test="nameEn != null and nameEn != ''">
                name_en = #{nameEn},
            </if>
            update_time = #{updateTime}
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <update id="updateLandAttr">
        update t_land_attribute
        <set>
            <if test="nameChs != null and nameChs != ''">
                name_chs = #{nameChs},
            </if>
            <if test="nameEn != null and nameEn != ''">
                name_en = #{nameEn},
            </if>
            <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
            <if test="required != null">
                required = #{required},
            </if>
            update_time = #{updateTime}
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <update id="updateLandAttrValue">
        update t_land_attribute_value 
        <set>
            <if test="valueChs != null and valueChs != ''">
                value_chs = #{valueChs},
            </if>
            <if test="valueEn != null and valueEn != ''">
                value_en = #{valueEn},
            </if>
            update_time = #{updateTime}
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <delete id="deleteLandType">
        delete from t_land_type where id = #{landTypeId}
    </delete>
    <delete id="deleteLandTypeByParentId">
        delete from t_land_type where parent_id = #{landTypeId}
    </delete>

    <delete id="deleteLandAttribute">
        delete from t_land_attribute
        where id = #{landAttrId}
    </delete>
    <delete id="deleteLandAttrValue">
        delete from t_land_attribute_value
        where id = #{landAttrValueId}
    </delete>
    <delete id="deleteLandAttrValueByAttrId">
        delete from t_land_attribute_value
        where land_attr_id = #{landAttrId}
    </delete>

    <select id="getSubLandTypeById" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandType">
        SELECT id, name_chs nameChs, name_en nameEn, parent_id parentId, create_time createTime, update_time updateTime
        FROM t_land_type_2
        WHERE parent_id = #{id}
    </select>
    
    <select id="getFirstLandType" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandType">
        SELECT id, name_chs nameChs, name_en nameEn, parent_id parentId, create_time createTime, update_time updateTime
        FROM t_land_type_2
        WHERE parent_id IS NULL
    </select>
    
    <select id="getAttrByLandTypeId" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandAttribute">
        select id, land_type_id landTypeId, name_chs nameChs, name_en nameEn, unit, required, create_time createTime, update_time updateTime
        from t_land_attribute_2
        where land_type_id = #{landTypeId}
    </select>
    
    <select id="getAttributeValue" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandAttributeValue">
        select id, land_attr_id landAttributeId, value_chs valueChs, value_en valueEn, create_time createTime, update_time updateTime
        from t_land_attribute_value_2
        where land_attr_id = #{attributeId}
    </select>
    <select id="getLandTypeById" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandType">
        SELECT id, name_chs nameChs, name_en nameEn, parent_id parentId, create_time createTime, update_time updateTime
        FROM t_land_type
        where id = #{landTypeId}
    </select>
    <select id="getLandTypeByName" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandType">
        SELECT id, name_chs nameChs, name_en nameEn, parent_id parentId, create_time createTime, update_time updateTime
        FROM t_land_type
        where name_chs = #{param1} and name_en = #{param2}
    </select>
    <select id="getAttrByNameAndLandType" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandAttribute">
        select id, land_type_id landTypeId, name_chs nameChs, name_en nameEn, unit, required, create_time createTime, update_time updateTime
        FROM t_land_attribute
        WHERE land_type_id = #{landTypeId} and name_chs = #{nameChs} and name_en = #{nameEn}
    </select>
    <select id="getAttrByName" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandAttribute">
        select id, name_chs nameChs, name_en nameEn, unit, required, create_time createtime, update_time updateTime
        from t_land_attribute
        where name_chs = #{param1} and name_en = #{param2}
    </select>
    <select id="getAttrByAttrId" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandAttribute">
        select id, land_type_id landTypeId , name_chs nameChs, name_en nameEn, unit, required, create_time createtime, update_time updateTime
        from t_land_attribute
        where id = #{landAttrId}
    </select>
    <select id="getFirstLandType2" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandType">
        SELECT id, name_chs nameChs, name_en nameEn, parent_id parentId, create_time createTime, update_time updateTime
        FROM t_land_type
        WHERE parent_id IS NULL
    </select>
    <select id="getSubLandTypeById2" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandType">
        SELECT id, name_chs nameChs, name_en nameEn, parent_id parentId, create_time createTime, update_time updateTime
        FROM t_land_type
        WHERE parent_id = #{id}
    </select>
    <select id="getAttrByLandTypeId2" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandAttribute">
        select id, land_type_id landTypeId, name_chs nameChs, name_en nameEn, unit, required, create_time createTime, update_time updateTime
        from t_land_attribute
        where land_type_id = #{landTypeId}
    </select>
    <select id="getAttributeValue2" resultType="com.oymn.geoinvestigatefinal.dao.pojo.LandAttributeValue">
        select id, land_attr_id landAttributeId, value_chs valueChs, value_en valueEn, create_time createTime, update_time updateTime
        from t_land_attribute_value
        where land_attr_id = #{attributeId}
    </select>


</mapper>
